<%- include(`heading`) -%>



<div class="firstcont">

    <div class="info1" data-aos="fade-right" data-aos-duration="3000">
        <h1>Innovation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/> Facere voluptatum minima laudantium, <br/> alias sit quasi eos natus repellat voluptatibus deserunt.</p>
        <button class="learn1btn">Learn more</button>
        <div class="circle"></div>
    </div>
    
    <div class="backg" data-aos="fade-right" data-aos-duration="1000">
        <img src="imgs/greencolor.png" class="backphoto">
    </div>
      

        
</div>

<div class="secondcont" data-aos="fade-left" data-aos-duration="1000">
    <div class="backg2">
        <img src="imgs/all color.png" alt="" class="allcolor">
    </div>

    <div class="info2">
        <div class="circle2"></div>
        <h1> 3 colors available </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore, alias delectus provident fugit rerum nemo dolorum tempora repudiandae consequuntur itaque facere in eius dignissimos accusantium accusamus. At, nobis voluptas?</p>
    </div>
</div>

<div class="thirdcont" data-aos="fade-right" data-aos-duration="2500">
    <div class="backg3">
        <img src="imgs/redmicam.png" alt="" class="redmicam">
        <div class="circle3"></div>
    </div>

    <div class="info3">
        <h1> Lorem camera </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio facilis iure saepe quas veritatis vitae officiis quibusdam cupiditate perspiciatis autem!</p>
    </div>
</div>

<div class="fourthcont" data-aos="fade-left" data-aos-duration="3000">
    <div class="info4">
        <h1> Powered by Lorem </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum commodi, nemo nobis eaque, minima assumenda iusto aspernatur dolor sit facere ipsa, tenetur voluptas.</p>
    </div>

    <div class="backg4">
        <div class="circle4"></div>
        <img src="imgs/png.png" alt="mediatek chipset" class="mediatek">
    </div>
</div>


<div class="fifthsect" id="5th">
    <div class="subscribeemail">

        <h1> Sign up to get the latest news</h1>

        <form action="" method="post">
            <input type="email" name="visiEmail" class="emailers" placeholder="Email"> <button type="submit" class="signupbtn">Sign Up</button>
        </form>
    </div>
    
<div class="links">
    <div class="link1sec">
        <h2> Follow Us </h2>
        <li> <a href=""> Facebook </a></li>
        <li> <a href=""> Twitter</a></li>
        <li> <a href=""> Instagram</a></li>
        <li> <a href=""> Youtube</a></li>
    </div>

    <div class="link2sec">
        <h2> Partnership </h2>
        <li> <a href=""> Sony </a></li>
        <li> <a href=""> Apple </a></li>
        <li> <a href=""> Huawei </a></li>
        <li> <a href=""> Samsung </a></li>
    </div>
</div>

</div>






<%- include(`footer`) -%>