@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --small : 'Montserrat', sans-serif;
    --display : 'Libre Franklin', sans-serif;
    --logo : 'Archivo Black', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a:hover {
    text-decoration: none;
}

body {
    position: relative;
    overflow-x: hidden;
}

.main {
    position: relative;
}

/* heading */

.navmain {
    display: flex;
    padding: 1rem;
    /* background-color: rgba(0, 0, 0, 0.03); */
    /* position: fixed;
    width: 100%; */
}

.navlogo {
    flex: 1;
    font-family: var(--logo);
}

.navlogo h1.homebtn {
    margin: auto auto auto 5rem;
    color: #333;
}

.navlogo h1.homebtn:hover {
    cursor: pointer;
}

.navlinks {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.navlinks li {
    list-style: none;
    margin: 0rem 2rem;
}

.navlinks li a {
    text-decoration: none;
    font-family: var(--small);
    color: black;
}

/* index.ejs | first cont */

.firstcont {
    display: flex;
    position: relative;
}

.firstcont .info1 {
    padding: 9rem 0rem 5rem 5rem;
    flex: 1;
    position: relative;
}

.firstcont > .info1 > h1 {
    font-family: var(--display);
    font-size: 8rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.firstcont .info1 p {
    font-family: var(--small);
    font-size: 1.5rem;
    color: black;
    text-align: left;
}

.backg {
    flex: 1;
    position: relative;
}

.backphoto {
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
}

.learn1btn {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    font-family: var(--small);
}

.circle {
    height: 35vw;
    width: 35vw;
    background-color: yellow;
    position: absolute;
    top: 20px;
    left: 290px;
    border-radius: 50%;
    z-index: -1;
}


/* secondcont */

.secondcont {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0.5rem;
}

.backg2 {
    text-align: center;
    padding: 3rem;
}

.info2 {
    position: relative;
}

.info2 h1 {
    text-align: center;
    font-family: var(--display);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 2rem;
}

.info2 p {
    margin: 4rem;
    font-family: var(--small);
    font-size: 1.3rem;
}

.circle2 {
    height: 35vw;
    width: 35vw;
    background-color: royalblue;
    position: absolute;
    bottom: 100px;
    right: 290px;
    z-index: -1;
    transform: rotate(200deg);
    border-radius: 25%;
}

.allcolor {
    transition-property: all;
    transition-duration: 0.5s;
}

.allcolor:hover {
    transform: scale(1.1);
}

/* thirdcont */

.thirdcont {
    display: flex;
}

.thirdcont .backg3 {
    flex: 2;
    text-align: center;
}

.thirdcont .info3 {
    flex: 1;
    margin: auto;
    text-align: left;
}

.thirdcont .info3 h1 {
    font-family: var(--display);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem auto;
}

.thirdcont .info3 p {
    font-family: var(--small);
    margin-right: 1rem;
}

.redmicam {
    width: 80%;
}

.circle3 {
    height: 35vw;
    width: 35vw;
    background-color: coral;
    position: absolute;
    top: 20px;
    left: 150px;
    border-radius: 50%;
    z-index: -1;
}

/* fourthcont */

.fourthcont {
    display: flex;
    padding: 4rem 0rem;
    background-color: rgba(0, 0, 0, 0.08);
}

.fourthcont .info4 {
    flex: 1;
    margin: auto 5rem;
}

.fourthcont .info4 h1 {
    margin: 2rem auto;
    font-family: var(--display);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.fourthcont .info4 p {
    text-align: left;
    font-family: var(--small);
}

.fourthcont .info4 .backg4 {
    flex: 1;
}

.circle4 {
   height: 30vw;
    width: 30vw;
    background-color: lightgreen;
    position: absolute;
    top: 100px;
    right: 300px;
    z-index: -1;
    transform: rotate(30deg);
}

.mediatek {
    transition-property: all;
    transition-duration: 0.5s;
}

.mediatek:hover {
    transform: scale(0.9)
}

/* fifthsect */

.fifthsect {
    display: flex;
}

.subscribeemail {
    flex: 1;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.subscribeemail h1 {
    font-family: var(--display);
    margin: 2rem auto;
}

.emailers {
    width: 70%;
    padding: 0.1rem 0.2rem;
}

.signupbtn {
    padding: 0.2rem 1rem;
    font-family: var(--small);
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

/* linksect */

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2rem 5rem 2rem;
}

.links h2 {
    font-family: var(--display);
    margin: 2rem auto;
}

.links li {
    margin: 1rem auto;
}

.links .link1sec, .links .link2sec {
    margin: auto 3rem;
    text-decoration: none;
    list-style: none;
    font-family: var(--small);
}

/* index ejs END */

/* products ejs */

.boxmain {
    padding: 4rem 0rem;
}

.sect1box {
    display: flex;
}

.boxes {
    width: 400px;
    height: 400px;
    margin: 5rem;
    font-family: var(--display);
}

.box1 {
    flex: 1;
    display: flex;
    justify-content: center;
    background-image: url(/imgs/black.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.box1:hover {
    transform: scale(1.1);
    background-color: rgb(128,128,128, 0.1);
    box-shadow: 3px 3px 6px 6px #ccc;
}

.box1 h1 {
    font-size: 4rem;
    margin-top: 20rem;
    text-transform: uppercase;
    color: #333;
}

.box2 {
    flex: 1;
    display: flex;
    justify-content: center;
    background-image: url(/imgs/Swatch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.5s;
}

.box2:hover {
    background-color: rgb(128,128,128, 0.1);
    transform: scale(1.1);
    box-shadow: 3px 3px 6px 6px #ccc;
}


.box2 h1 {
    font-size: 4rem;
    margin-top: 20rem;
    text-transform: uppercase;
    color: #333;
}

.sect2box {
    display: flex;
    justify-content: center;
}

.box3 {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    background-image: url(/imgs/tv.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.box3 h1 {
    font-size: 4rem;
    margin-top: 20rem;
    text-transform: uppercase;
    color: #333;
}

.box3:hover {
    background-color: rgb(128,128,128, 0.1);
    transform: scale(1.1);
    box-shadow: 3px 3px 6px 6px #ccc;
}

/* products EJS end */

/* contact EJS  */

.contForm {
    display: flex;
    flex-direction: row;
    margin: 2rem 4rem;
}

.namers, .mail {
    width: 50%;
    margin: 1rem;
    padding: 0.2rem 0.2rem;
}

label {
    display: block;
    padding: 1rem;
    font-family: var(--display);
}

.mail, .txt {
    display: block;
    margin: 1rem;
}

.formers {
    flex: 1;
    flex-direction: column;
}

.txt {
    margin: 2rem 1rem;
    padding: 0.2rem 0.2rem;
}

.contbtn {
    margin: 0rem 1rem;
    padding: 0.3rem 1rem;
    background-color: black;
    color: white;
    font-family: var(--small);
    outline: none;
    border: none;
}


/* footer */

.foots {
    text-align: center;
    font-family: var(--small);
    margin: auto;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 1rem;
}

/* MediaQ's */

@media screen and (max-width: 1040px) {

    /* firstcont */

    .navmain {
        flex-direction: column;
    }

    .navmain .navlogo {
        text-align: center;
        margin-right: 4rem;
    }

    .firstcont {
        flex-direction: column;
    }

    .firstcont .info1 h1 {
        font-size: 10vw;
    }

    .firstcont .info1 p {
        font-size: 3.5vw;
    }


    /* 2ndcont */

    .secondcont .allcolor {
        width: 100%;
    }

    .secondcont .info2 p {
        text-align: left;
    }

    /* 3rdsect */

    .thirdcont {
        flex-direction: column;
    }

    .thirdcont .backg3 {
        order: 2;
    }

    .thirdcont .info3 {
        order: 1;
        padding: 2rem;
        
    }

    .thirdcont .info3 h1 {
        font-size: 10vw;
        text-align: left;
    }

    .thirdcont .info3 p {
        text-align: left;
    }

    /* 4thcont */

    .fourthcont {
        flex-direction: column;
    }

    .fourthcont .info4 h1 {
        text-align: right;
    }

    .fourthcont .info4 p {
        text-align: right;
    }

    .mediatek {
        width: 100%;
    }

    /* fifthsect */

    .fifthsect {
        flex-direction: column;
        padding: 1rem;
    }

    .fifthsect .links {
        justify-content: center;
    }

    .fifthsect .links h2 {
        font-size: 5vw;
    }
    
    /* product ejs */

    .boxmain h1 {
        font-size: 5vw;
    }

    .sect1box {
        flex-direction: column;
        justify-content: center;
    }

    .sect1box .boxes {
        justify-content: center;
        margin: 2rem auto;
    }

    .sect2box .box3 {
        margin: 2rem auto;
    }

    /* contact ejs */

    .namers {
        margin: auto;
        width: 100%;
    }

    .mail {
        margin: auto;
        width: 100%;
    }

    .txt {
        margin: 2rem auto;
        width: 100%;
    }

    .contbtn {
        margin: auto;
    }

    /* circles */

    .circle {
        height: 50vw;
        width: 50vw;
    }

    .circle2 {
        height: 50vw;
        width: 50vw;
    }

    .circle3 {
        height: 50vw;
        width: 50vw;
    }

    .circle4 {
        height: 40vw;
        width: 40vw;
    }





}







